:root {
    --background: rgb(24, 39, 70);
    --textcolor: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--textcolor);
    font-family: "Golos Text", sans-serif;
}





























